.field-border
	padding 8px 16px
	font-family FuturaPT, sans-serif
	background none
	font-size 18px
	border 1px solid $grayLight
	outline none
	color $grayDark
	min-width 30px
	width 100%

	&::placeholder
		color $grayDark