.field-error-msg
	display block
	margin-top 4px
	color $error
	font-size 12px
	opacity 0
	visibility hidden
	transition opacity 350ms, visibility 350ms

	.form-invalid input:invalid ~ &
		visibility visible
		opacity 1
		transition-duration 175ms