$black = #181818
$grayDark = #969098
$gray = #c4c4c4
$grayLight = #dedede
$white = #fff
$primary = #413046
$primaryLight = #56495d
$secondaryDark = #bfb84a
$secondary = #cbc56c
$secondaryLight = #f5f3e2
$grayBg = #f9f9f9
$error = #c82333

@font-face
	font-family 'FuturaPT'
	src url('/fonts/FuturaPT-Light.woff') format('woff')
	font-weight 300
	font-style nurmal
@font-face
	font-family 'FuturaPT'
	src url('/fonts/FuturaPT-Book.woff') format('woff')
	font-weight 400
	font-style nurmal
@font-face
	font-family 'FuturaPT'
	src url('/fonts/FuturaPT-Medium.woff') format('woff')
	font-weight 500
	font-style nurmal
@font-face
	font-family 'FuturaPT'
	src url('/fonts/FuturaPT-Bold.woff') format('woff')
	font-weight 600
	font-style nurmal

@import "~swiper/css/swiper.min.css";
@import "~noty/lib/noty.css";
@import "~nouislider/distribute/nouislider.css";


@import "./blocks/h.styl";
@import "./blocks/m.styl";
@import "./blocks/wrapper.styl";
@import "./blocks/link.styl";
@import "./blocks/button.styl";
@import "./blocks/main-section.styl";
@import "./blocks/header.styl";
@import "./blocks/achievements.styl";
@import "./blocks/infrastructure.styl";
@import "./blocks/advantages.styl";
@import "./blocks/apartment-selection.styl";
@import "./blocks/text-checkbox.styl";
@import "./blocks/checkbox.styl";
@import "./blocks/range.styl";
@import "./blocks/range-label.styl";
@import "./blocks/field.styl";
@import "./blocks/field-border.styl";
@import "./blocks/policy-disclaimer.styl";
@import "./blocks/deadline.styl";
@import "./blocks/mortgage-calculator.styl";
@import "./blocks/bank-list.styl";
@import "./blocks/bank-viewer.styl";
@import "./blocks/docs.styl";
@import "./blocks/accordion.styl";
@import "./blocks/list.styl";
@import "./blocks/footer.styl";
@import "./blocks/policy.styl";
@import "./blocks/social-list.styl";
@import "./blocks/field-error-msg.styl";
@import "./blocks/section-label.styl";
@import "./blocks/popup-box.styl";

html
	background $grayBg

body
	margin 0
	font-family FuturaPT, sans-serif
	-webkit-font-smoothing antialiased
	color $black
	letter-spacing 0.01em

*
	box-sizing border-box
	-webkit-tap-highlight-color rgba(0,0,0,0)

a
	text-decoration none

.section
	position relative






